PORT=4000
MONGODB_URI=mongodb://localhost:27017/gym-tracker
JWT_SECRET=dev-secret-change-in-production
CLOUDINARY_CLOUD_NAME=dqftec5a2
CLOUDINARY_API_KEY=641461249989248
CLOUDINARY_API_SECRET=P2gCd96PS2thVvJ-G1jwe1u5IOc
CLIENT_URL=http://localhost:3000
